@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Footbal API<br />    
    <abbr title="Phone">Fone:</abbr>
    41 99513-8876
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:ebilieri@hotmail.com">ebilieri@hotmail.com</a><br />    
</address>
